<div class="fw1 mid-gray i">
  {{ site.t[page.lang].published_on }} {% include date.liquid date=page.date %}
  {{ site.t[page.lang].by }}
  <a href="{{ site.data.authors[page.author].url }}">{{ site.data.authors[page.author].name }}</a>.
</div>
