<div class="fw1 gray">
  {{ site.t[page.lang].published_on }} <strong>{% include date.liquid date=page.date %}</strong>
  {{ site.t[page.lang].by }}
  <a href="{{ site.data.authors[page.author].url }}">{{ site.data.authors[page.author].name }}</a>.
</div>
